<h2 mat-dialog-title>Create task</h2>
<mat-dialog-content>
  <form [formGroup]="createForm" id="create-task-form">
    <mat-form-field>
      <mat-label>
        Description
      </mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        status
      </mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let st of ['pending', 'progress', 'done']" [value]="st">
          {{st}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Priority
      </mat-label>
      <input matInput type="number" formControlName="priority" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Estimated Time
      </mat-label>
      <input matInput type="number" formControlName="estimated_time" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Time
      </mat-label>
      <input matInput type="number" formControlName="time" />
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button color="primary" (click)='onStartNow()'>
      Start Now
    </button>
    <button mat-raised-button color="primary" (click)='onStartLater()'>Start Later</button>
    <button mat-raised-button color="secondary" (click)="onCancel()">Cancel</button>
  </div>
</mat-dialog-content>