<h2 mat-dialog-title>Create task</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>
        Description
      </mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        status
      </mat-label>
      <mat-select>
        <mat-option *ngFor="let st of ['pending', 'progress', 'done']" [value]="st">
          {{st}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Priority
      </mat-label>
      <input matInput type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Estimated Time
      </mat-label>
      <input matInput type="time" />
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="secondary">Cancel</button>
  </div>
</mat-dialog-content>