<div style="padding: 5rem; display: flex; justify-content: flex-end;">
    <button mat-raised-button color="primary" style="margin: 1rem;">export</button>
    <button mat-raised-button color="primary" style="margin: 1rem;" (click)='openCreate()'>create</button>
</div>
<table style="width:100%; padding: 5rem;">
    <tr>
        <th style="text-align:center">Description</th>
        <th style="text-align:center">Start Time</th>
        <th style="text-align:center">End Time/Paused</th>
        <th style="text-align:center">Status</th>
        <th style="text-align:center">Total</th>
        <th style="text-align:center">Action</th>
    </tr>
    <tr  *ngFor="let task of tasks">
        <td style="text-align:center">{{task.description}}</td>
        <td style="text-align:center"></td>
        <td style="text-align:center"></td>
        <td style="text-align:center">{{task.status}}</td>
        <td style="text-align:center">1h</td>
        <td style="text-align:center"><a href="">Start</a></td>
    </tr>
    <footer style="padding: 1rem 0;">total worked: 3hours</footer>
</table>