<div style="padding: 5rem; display: flex; justify-content: flex-end;">
    <button mat-raised-button color="primary" style="margin: 1rem;">export</button>
    <button mat-raised-button color="primary" style="margin: 1rem;" (click)='openCreate()'>create</button>
</div>
<table style="width:100%; padding: 5rem;">
    <tr>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time/Paused</th>
        <th>Status</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>Task 1</td>
        <td>8AM</td>
        <td>9AM</td>
        <td>In Progress</td>
        <td>1h</td>
    </tr>
    <tr>
        <td>Task 2</td>
        <td>10AM</td>
        <td>12AM</td>
        <td>Done</td>
        <td>2h</td>
    </tr>
    <footer style="padding: 1rem 0;">total worked: 3hours</footer>
</table>