<mat-card tabindex="0">
    <mat-card-content>
        <form class="example-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': submitted && f.password.errors}">
                <mat-error *ngIf="submitted && f.password.errors && f.password.errors.required">
                    Password is required
                </mat-error>

            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}">
                <mat-error *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch">
                    Passwords must match
                </mat-error>

            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Change password</button>
        </form>
    </mat-card-content>
</mat-card>